<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%if session['form'] == 'login':%}
    <title>login</title>
    {%else:%}
    <title>register</title>
    {%endif%}
</head>
<body>
{%if session['form'] == 'login':%}
<form action="/ValidateLogin" method="post">
    UserName:
    <input type="text" name="user"><br>
    Pass:
    <input type="text" name="pass"><br>
    <input type="submit" name="submit" value="login!">
</form>
{%elif session['form'] == 'register':%}
<form action="/ValidateRegister" method="post">
    UserName:
    <input type="text" name="user"><br>
    Pass:
    <input type="text" name="pass"><br>
    Name:
    <input type="text" name="name"><br>
    <input type="submit" name="submit" value="register!">
</form>
{%elif session['form'] == 'edit':%}
<form action="/ValidateEdit" method="post">
    UserName:
    <input type="text" name="user" placeholder={{edit[0]}}><br>
    Pass:
    <input type="text" name="pass"><br>
    Name:
    <input type="text" name="name" placeholder={{edit[1]}}><br>
    <input type="submit" name="submit" value="register!">
</form>
{%endif%}
</body>
</html>